---
import EmbeddedHtmlFail from '../components/EmbeddedHtmlFail.astro';
import EmbeddedHtml from '../components/EmbeddedHtml.astro';

const taro = 'Taro Tanaka';
const tag = '<p>cant call</p>';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Slot of base</title>
  </head>
  <body>
    <h1>Slot of base</h1>
    <section>
      <h2>For not use Slot</h2>
      <EmbeddedHtmlFail name={taro} tag={tag} />
    </section>
    <section>
      <h2>Use of Slot</h2>
      <EmbeddedHtml name={taro}>
        <p>cant call</p>
      </EmbeddedHtml>
    </section>
  </body>
</html>

<style>
  section {
    border: blue 1px solid;
    margin: 10px;
  }
</style>
