---
import EmbeddedHtmlNamed from '../components/EmbeddedHtmlNamed.astro';

const taro = 'taro tanaka';
const jiro = 'jiro suzuki';
const taroProblems: string[] = ['cant connect tes', 'absent'];
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>NameSlot</title>
  </head>
  <body>
    <h1>nameSlot</h1>
    <section>
      <EmbeddedHtmlNamed name={taro}>
        <p slot="default">problem happen</p>
        <Fragment slot="detail">
          <ul>
            {taroProblems.map((item) => <li>{item}</li>)}
          </ul>
        </Fragment>
      </EmbeddedHtmlNamed>
      <EmbeddedHtmlNamed name={jiro} />
    </section>
  </body>
</html>
