---
const rand = Math.round(Math.random() * 100);
---

<section>
  <h4>display random number</h4>
  <p>{rand} is generated random number</p>
</section>

<style>
  section {
    border: orange 1px dashed;
    margin: 10px;
  }
</style>
